
html,body{
    margin:0;
    padding:0;
}
#navbar{
  top:0;
    position:fixed;
    width:100%;
    z-index: 1000;
}
#navbar ul{
    display:flex;
    justify-content: flex-end;
    background-color: brown;
    list-style: none;
    margin:0;
 padding :100;
}
#navbar ul li{
    margin:5px 10px;
    padding: 5px;
}
#navbar ul li a{
    color: white;
    text-decoration: none;
    font-weight: 100;
  }
#welcomesection{
  margin-top:38px;
 background-color:grey;
  height:90vh;
  border:2px solid rgb(19, 19, 19);
}
#secp{
  text-align: center;
  color: white;
  font-style:italic;
  font-size:3rem;
  margin-top:0;
}

#skillsarea{
  display:flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-left:30%;
  height:6cm;
  width:15cm;
  background-color: #fafbfc;
  border:1px solid black;
  border-radius:8px;
  align-items: center;
  padding:0;
}
#pskills{
  font-style: italic;
  color: rgb(68, 46, 89);
  font-size: xx-large;
  text-decoration:underline;
  margin-left:1cm;
}
#skillsarea ul{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:2rem;
  margin-right:2rem;
}
#skillsarea ul li{
  list-style:none;
  border:1px solid grey;
   padding:1rem;
  border-radius:8px;
  background-color: pink;
}

h1{
  text-align:center;
  font-size:6rem;
  color:white;
  margin-bottom:0;
}


h2{
  font-style: italic;
  font-size: 3rem;
  text-align:center;
  color:rgb(68, 46, 89);
  padding:0;
}
#projectsection{
  margin-left:50px;
  margin-right:50px;
}
#projectgrid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:50px;
  padding: 50px;
}
.project{
  background-color:lightblue;
  border-radius:8px;
 height:08rem;
 border:1px solid black;
 position:relative;
}
.textpart{
   color:black;
   font-weight: 600;
   margin-left:25%;
  position:absolute;
}
.picpart{
  border:1px solid grey;
  height:3cm;
  width:3cm;
  margin-top:5.5px;
  margin-left:60%;
  border-radius:8px;
}
#bysec{
  color:rgb(29, 15, 42);
  font-style: italic;
  margin-top:0px;
}
#bysection{
  background-color:grey;
  border:2px solid black;
  border-radius:5px;
#contactlinks{
  background-color:black;
  align-items: center;
  height:1cm;
  display:flex;
  justify-content:center;
  gap:12px;
  font-size: 1.5rem;
  
}
.footerbottom{
  color:white;
  margin-top: 0;
  text-align: center;
  background-color:black;
  padding: 10px;
}
